#container {
    border: 1px solid blueviolet;
    background-color: cornflowerblue;
    position: relative;
}

#main {
    border: 1px solid sandybrown;
    background-color: mediumaquamarine;
    width: 70%;
    position: absolute;
    top: 0;
    left: 30%;
}

#sidebar {
    border: 1px solid darkslategray;
    background-color: lightcoral;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
}

